body {
	font-family: 'Noto Serif KR', serif;
}

.box1 {
	margin-left: 0px;
}

.box2 {
	margin-left: 400px;
}

.box3 {
	margin-left: 260px;
	width: 350px;
}

.box4 {
	width: 350px;
}


.page {
	position: relative;
	width: 650px;
	height: 930px;
	margin: 50px auto;
	border: 1px solid #d8d8d8;
	padding: 80px 100px 20px 100px;
	background: url('resource/bg.jpg');
	background-position: center;
	background-size: cover;
}

.page2 {
	position: relative;
	width: 650px;
	height: 930px;
	margin: 50px auto;
	border: 1px solid #d8d8d8;
	padding: 80px 100px 20px 100px;
	background: url('resource/bg2.jpg');
	background-position: center;
	background-size: cover;
}

.footnote {
	display: inline;
	position: relative;
	padding-right: 2px;
	cursor: pointer;
	color: red;
	font-weight: 600;
	font-size: 21px;
	line-height: 1;
}


/* 말풍선 적절한 top 과 margin-left 로 위치조정 */
#box {
	line-height: 1.6;
	display: none;
	position: absolute;
	margin-top: 0px;
	z-index: 1;
	padding: 12px 20px 15px 20px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	background: rgba(0, 0, 0, 0.85);
	color: #fff;
	font-size: 15px;
	text-align: center;
	font-family: 'Noto Sans KR', sans-serif;
}

p.footnote:hover+p#box {
	display: block;
	position: absolute;
}

/* 본문 */
h6 {
	font-size: 18px;
	line-height: 1.8;
	font-weight: 400;
	margin-top: 20px;
	margin-bottom: 20px;
	padding-bottom: 20px;
}

/* 이미지설명 */
h5 {
	padding-top: 0px;
	display: flex;
	font-family: 'Noto Sans KR', sans-serif;
}

/* 페이지 */
h4 {
	text-align: center;
	width: 100%;
	position: absolute;
	bottom: 5%;
	left: 50%;
	transform: translate(-50%, 50%);
}

u {
	text-decoration-style: dashed;
	text-underline-position: under;
	text-decoration-color: red;
}

.table {
	text-decoration-style: solid;
	text-underline-position: under;
	text-decoration-color: blue;
}

img {
	width: 100%;
	border: 1px solid #dbdbdb;
}

.content {
	margin-top: -8px;
	text-align: center;
	width: 50%;
	font-size: 14px;
	font-weight: 400;
	color: #888;
}

/* 대제목 */
h2 {
	font-size: 26px;
	padding-bottom: 8px;
	border-bottom: 1px solid #dfdfdf;
}

.table1 {
	margin-top: 30px;
	margin-bottom: 0px;
	font-weight: 600;
}

.table2 {
	margin-top: 8px;
	margin-bottom: 0px;
	margin-left: 22px;
	font-weight: 400;
}

a:link {
	color: blue;
}

a:visited {
	color: blue;
}

a:hover {
	color: blue;
}

a:active {
	color: blue;
}