body {
	font-family: 'Noto Serif KR', serif;
}

.box1 {
	margin-left: 0px;
}

.box2 {
	margin-left: 70px;
}

.box3 {
	margin-left: 470px;
}



.page {
	width: 650px;
	height: 930px;
	margin: 50px auto;
	border: 1px solid #d8d8d8;
	padding: 80px 100px 20px 100px;
	position: relative;
	background: url('resource/bg.jpg');
	background-position: center;
	background-size: cover;
}

.footnote {
	width: 50px;
	display: inline;
	position: relative;
	padding-right: 2px;
	padding-left: 1px;
	cursor: pointer;
	color: red;
	font-weight: 600;
	font-size: 21px;
	line-height: 1;
}


/* 말풍선 적절한 top 과 margin-left 로 위치조정 */
#box {
	line-height: 1.6;
	display: none;
	position: absolute;
	margin-top: 0px;
	z-index: 1;
	padding: 12px 20px 15px 20px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	background: #333;
	color: #fff;
	font-size: 15px;
	text-align: center;
	font-family: 'Noto Sans KR', sans-serif;
}

p.footnote:hover + p#box {
	display: block;
	position: absolute;
}

h6 {
	font-size: 18px;
	line-height: 1.8;
	font-weight: 400;
	margin-top: 20px;
	margin-bottom: 20px;
}

h5 {
	padding-top: 0px;
	display: flex;
	font-family: 'Noto Sans KR', sans-serif;
}

h4 {
	text-align: center;
	position: absolute;
	bottom: 40px;
	width: 77%;
}

u {
	text-decoration-style: dashed;
	text-underline-position:under;
	text-decoration-color: red;
	text-decoration-thickness: 2px;
}

.bold {
	font-weight: 400;
}

img {
	width: 100%;
	border: 1px solid #dbdbdb;
}

.content {
	margin-top: -8px;
	text-align: center;
	width:50%; 
	font-size: 14px;
	font-weight: 400;
	color: #888;
}